<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>/var/lib/apache-jmeter/bin/jmeter -n -t /vagrant/shared_folder/jmeter/lodywood.jmx -l /vagrant/shared_folder/jmeter/result.jtl</command>
      <configuredLocalRules>
        <jenkins.tasks.filters.impl.RetainVariablesLocalRule>
          <variables></variables>
          <retainCharacteristicEnvVars>true</retainCharacteristicEnvVars>
          <processVariablesHandling>RESET</processVariablesHandling>
        </jenkins.tasks.filters.impl.RetainVariablesLocalRule>
      </configuredLocalRules>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.performance.PerformancePublisher plugin="performance@957.v658a_7065b_92a_">
      <errorFailedThreshold>-1</errorFailedThreshold>
      <errorUnstableThreshold>-1</errorUnstableThreshold>
      <errorUnstableResponseTimeThreshold></errorUnstableResponseTimeThreshold>
      <relativeFailedThresholdPositive>-1.0</relativeFailedThresholdPositive>
      <relativeFailedThresholdNegative>-1.0</relativeFailedThresholdNegative>
      <relativeUnstableThresholdPositive>-1.0</relativeUnstableThresholdPositive>
      <relativeUnstableThresholdNegative>-1.0</relativeUnstableThresholdNegative>
      <nthBuildNumber>0</nthBuildNumber>
      <configType>ART</configType>
      <graphType>ART</graphType>
      <modeOfThreshold>false</modeOfThreshold>
      <failBuildIfNoResultFile>true</failBuildIfNoResultFile>
      <compareBuildPrevious>false</compareBuildPrevious>
      <optionType>ART</optionType>
      <modePerformancePerTestCase>false</modePerformancePerTestCase>
      <excludeResponseTime>false</excludeResponseTime>
      <showTrendGraphs>true</showTrendGraphs>
      <modeThroughput>false</modeThroughput>
      <modeEvaluation>false</modeEvaluation>
      <constraints class="empty-list"/>
      <ignoreFailedBuilds>false</ignoreFailedBuilds>
      <ignoreUnstableBuilds>false</ignoreUnstableBuilds>
      <persistConstraintLog>false</persistConstraintLog>
      <sourceDataFiles>/vagrant/shared_folder/jmeter/result.jtl</sourceDataFiles>
      <filterRegex></filterRegex>
      <junitOutput></junitOutput>
      <percentiles>0,50,90,95,100</percentiles>
      <baselineBuild>0</baselineBuild>
    </hudson.plugins.performance.PerformancePublisher>
  </publishers>
  <buildWrappers/>
</project>