.terraform/*
./terraform.tfst*
./terraform.tfstate.backup
./.terraform.lock.hcl
*.lock.hcl
*.tfstate

module_prod_aws/module_prod_aws_provider_subid.tf
module_prod_azure/module_prod_azure_provider_subid.tf
module_prod_azure_provider_subid.tf
module_prod_aws_provider_subid.tf