[Unit]
Description=Moreless Api
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/api
ExecStart=/usr/bin/java -jar /var/www/api/morelessapi.jar
SuccessExitStatus=143
Restart=on-failure

[Install]
WantedBy=multi-user.target