[Unit]
Description=gunicorn daemon for Django
After=network.target

[Service]
User={{ django_user }}
Group=www-data
WorkingDirectory={{ django_app_path }}
ExecStart={{ django_app_path }}/gunicorn_start.sh

[Install]
WantedBy=multi-user.target