[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=rooty
Group=rooty
WorkingDirectory=/var/www/app/moreless
EnvironmentFile=/var/www/app/moreless/gunicorn.env
ExecStart=/var/www/app/vmoreless/bin/gunicorn --config /var/www/app/moreless/gunicorn.conf.py  config.wsgi:application

[Install]
WantedBy=multi-user.target