server {
    listen 80;
    server_name {{ django_server_name }};

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root {{ django_app_path }};
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:{{ django_app_path }}/gunicorn.sock;
    }
}
